# Requirements file for ReadTheDocs, check .readthedocs.yml.
# To build the module reference correctly, make sure every external package
# under `install_requires` in `setup.cfg` is also listed here!
sphinx>=3.2.1
# sphinx_rtd_theme
myst-parser
lciafmt
linkify
linkify-it.py
"fedelemflowlist @ git+git://github.com/USEPA/Federal-LCA-Commons-Elementary-Flow-List@v1.0.7#egg=fedelemflowlist"
"esupy @ git+git://github.com/USEPA/esupy@v0.1.5#egg=esupy"
"olca-ipc>=0.0.8"
"pandas>=0.22"
"openpyxl>=3.0.7"
"pyyaml>=5.3"
"pyodbc >= 4.0.30;platform_system=='Windows'"
